//-
    Main Footer

footer.main-footer
    .container
        .row
            .col-12.col-md-4
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.recommendedProjects.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list.github-user-info-starred-js
                    
            .col-12.col-md-4
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.recentChanges.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list.github-user-info-events-js
                    
            .col-12.col-md-4.row.no-gutters.flex-column
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.findMe.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                .main-footer-findme-body
                    a(href="http://codepen.io/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.codepenAriaLabel class="btn btn-square btn-square-48 to-top btn-codepen color-white")
                        span(aria-hidden="true" class="icon icon-codepen")
                    a(href="https://www.facebook.com/mateusz.archicinski" target="_blank" aria-label=data.mainFooter.findMe.body.facebookAriaLabel class="btn btn-square btn-square-48 to-top btn-facebook color-white")
                        span(aria-hidden="true" class="icon icon-facebook")
                    a(href="https://github.com/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.githubAriaLabel class="btn btn-square btn-square-48 to-top btn-github color-white")
                        span(aria-hidden="true" class="icon icon-github")
                    a(href="https://plus.google.com/111077912668591105452" target="_blank" aria-label=data.mainFooter.findMe.body.gplusAriaLabel class="btn btn-square btn-square-48 to-top btn-gplus color-white")
                        span(aria-hidden="true" class="icon icon-gplus")
                    a(href="https://pl.linkedin.com/in/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.linkedinAriaLabel class="btn btn-square btn-square-48 to-top btn-linkedin color-white")
                        span(aria-hidden="true" class="icon icon-linkedin")
                    a(href="https://twitter.com/marchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.twitterAriaLabel class="btn btn-square btn-square-48 to-top btn-twitter color-white")
                        span(aria-hidden="true" class="icon icon-twitter")
            .col-12
                p.main-footer-copyright
                    small &#169; #{data.mainFooter.copyright}