//-
    Main Footer

footer.main-footer
    .container
        .row
            .col-12.col-md-4
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.recommendedProjects.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list
                    li
                        a(href="https://github.com/mateuszarchicinski/TDD-Helpdesk-Web-App-Project" class="main-footer__link") Helpdesk - Aplikacja internetowa
                    li
                        a(href="https://github.com/mateuszarchicinski/Github-Issues-Application" class="main-footer__link") Github Issues Application
                    li
                        a(href="https://github.com/mateuszarchicinski/Restful-API--NodeJS-ExpressJS" class="main-footer__link") Restful API - NodeJS & ExpressJS
                    li
                        a(href="https://github.com/mateuszarchicinski/Angular1.x-Template" class="main-footer__link") Angular 1.x - Template
                    li
                        a(href="https://github.com/mateuszarchicinski/Kickstart-Templates" class="main-footer__link") Kickstart Templates
            .col-12.col-md-4
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.recentChanges.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                ul.main-footer__list
                    li
                        a(href="https://github.com/mateuszarchicinski/mateusz-archicinski.pl/commit/7dc0ed7f82998c6b7248787e4a9cd4c85b06657a" class="main-footer__link") Initial commit
                    li
                        a(href="https://github.com/mateuszarchicinski/TDD-Helpdesk-Web-App-Project/commit/4b0e8fdfa351e48b90bbb2220e58785c78ddd071" class="main-footer__link") Readme - Project name changed
                    li
                        a(href="https://github.com/mateuszarchicinski/Github-Issues-Application/commit/ef1d8f410f20bce3fb2ec1ee5ff14884da2029b4" class="main-footer__link") Removed spaces between osx buttons
            .col-12.col-md-4.row.no-gutters.flex-column
                h3.heading.heading-5.main-footer-col-title.text-center= data.mainFooter.findMe.h3
                .heading-separator
                    .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.accent
                .main-footer-findme-body
                    a(href="http://codepen.io/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.codepenAriaLabel class="btn btn-square btn-square-48 to-top btn-codepen color-white")
                        span(aria-hidden="true" class="icon icon-codepen")
                    a(href="https://www.facebook.com/mateusz.archicinski" target="_blank" aria-label=data.mainFooter.findMe.body.facebookAriaLabel class="btn btn-square btn-square-48 to-top btn-facebook color-white")
                        span(aria-hidden="true" class="icon icon-facebook")
                    a(href="https://github.com/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.githubAriaLabel class="btn btn-square btn-square-48 to-top btn-github color-white")
                        span(aria-hidden="true" class="icon icon-github")
                    a(href="https://plus.google.com/111077912668591105452" target="_blank" aria-label=data.mainFooter.findMe.body.gplusAriaLabel class="btn btn-square btn-square-48 to-top btn-gplus color-white")
                        span(aria-hidden="true" class="icon icon-gplus")
                    a(href="https://pl.linkedin.com/in/mateuszarchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.linkedinAriaLabel class="btn btn-square btn-square-48 to-top btn-linkedin color-white")
                        span(aria-hidden="true" class="icon icon-linkedin")
                    a(href="https://twitter.com/marchicinski" target="_blank" aria-label=data.mainFooter.findMe.body.twitterAriaLabel class="btn btn-square btn-square-48 to-top btn-twitter color-white")
                        span(aria-hidden="true" class="icon icon-twitter")
            .col-12
                p.main-footer-copyright
                    small &#169; #{data.mainFooter.copyright}