//-
    Main Header

header.main-header.main-header-embedded.main-header-js
    .container
        .row.no-gutters.align-items-center.justify-content-between
            a(href="/" class="site-logo-wrapper")
                img(src="images/logo/logo.png" alt=data.mainHeader.siteLogo.alt width="94" height="28" class="site-logo__img")
            h1(aria-hidden="true" class="text-hidden")= data.mainHeader.h1
            button(aria-label=data.mainHeader.sideNav.buttonToggleAriaLabel class="side-nav__button-toggle side-nav-toggle-js")
                    span(aria-hidden="true" class="icon icon-2 icon-menu color-white")
            nav.site-nav-wrapper
                ul.site-nav__list
                    li
                        a(href="#home" data-spy class="site-nav__link active")= data.mainHeader.siteNav.home
                    li
                        a(href="#about-me" data-spy class="site-nav__link")= data.mainHeader.siteNav.aboutMe
                    li
                        a(href="#services" data-spy class="site-nav__link")= data.mainHeader.siteNav.services
                    li
                        a(href="#portfolio" data-spy class="site-nav__link")= data.mainHeader.siteNav.portfolio
                    li
                        a(href="#contact" data-spy class="site-nav__link")= data.mainHeader.siteNav.contact
                    li
                        ul.language-settings__list.language-settings-separator-left
                            each value in langs
                                if lang !== value
                                    li
                                        a(href="/" + value class="site-nav__link language-settings__link")= value
nav.side-nav-wrapper.side-nav-js
    button(aria-label=data.mainHeader.sideNav.buttonToggleAriaLabel class="side-nav__button-toggle side-nav-toggle-js")
        span(aria-hidden="true" class="icon icon-2 icon-cancel color-primary-dark")
    .side-nav-overlay
        ul.side-nav__list
            li
                a(href="#home" data-spy class="side-nav__link active")= data.mainHeader.siteNav.home
            li
                a(href="#about-me" data-spy class="side-nav__link")= data.mainHeader.siteNav.aboutMe
            li
                a(href="#services" data-spy class="side-nav__link")= data.mainHeader.siteNav.services
            li
                a(href="#portfolio" data-spy class="side-nav__link")= data.mainHeader.siteNav.portfolio
            li
                a(href="#contact" data-spy class="side-nav__link")= data.mainHeader.siteNav.contact
            li
                ul.language-settings__list.language-settings-separator-top
                    each value in langs
                        if lang !== value
                            li
                                a(href="/" + value class="side-nav__link language-settings__link")= value