//-
    Contact Wrapper

section(id="contact" class="section contact-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span(aria-hidden="true" class="icon icon-2 icon-phone section-decoration-icon")
            header.section-header
                h2.heading.heading-2.heading-unique-1.section-header-title.text-center= data.mainWrapper.contactWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.contactWrapper.header.p
        .row
            .col-md-8.col-12
                .white-frame.white-frame-0525001.contact-form-wrapper
                    form(action="#" autocomplete="off" method="post" name="contactForm" class="contact-form__form contact-form-js")
                        h3.heading.heading-4.contact-form-title.text-center= data.mainWrapper.contactWrapper.form.h3
                        .contact-form__input-container
                            label(for="contactForm[name]" class="contact-form__label")= data.mainWrapper.contactWrapper.form.inputs.name.label
                                span(aria-label=data.mainWrapper.contactWrapper.form.inputs.requiredAriaLabel class="contact-form__input-required")
                            input(id="contactForm[name]" name="name" type="text" required maxlength="150" aria-required="true" class="contact-form__input")
                        .contact-form__input-container
                            label(for="contactForm[email]" class="contact-form__label")= data.mainWrapper.contactWrapper.form.inputs.email.label
                                span(aria-label=data.mainWrapper.contactWrapper.form.inputs.requiredAriaLabel class="contact-form__input-required")
                            input(id="contactForm[email]" name="email" type="email" required maxlength="150" aria-required="true" class="contact-form__input")
                        .contact-form__input-container
                            label(for="contactForm[subject]" class="contact-form__label")= data.mainWrapper.contactWrapper.form.inputs.subject.label
                                span(aria-label=data.mainWrapper.contactWrapper.form.inputs.requiredAriaLabel class="contact-form__input-required")
                            input(id="contactForm[subject]" name="subject" type="text" required maxlength="150" aria-required="true" class="contact-form__input")
                        .contact-form__input-container
                            label(for="contactForm[message]" class="contact-form__label")= data.mainWrapper.contactWrapper.form.inputs.message.label
                                span(aria-label=data.mainWrapper.contactWrapper.form.inputs.requiredAriaLabel class="contact-form__input-required")
                            textarea(id="contactForm[message]" name="message" required maxlength="1500" aria-required="true" class="contact-form__textarea")
                        button(type="submit" class="btn to-top btn-primary contact-form__button")
                            span= data.mainWrapper.contactWrapper.form.submitButton
            .col-md-4.col-12
                .contact-info-wrapper
                    ul.contact-info__list
                        li.info-block
                            h3.heading.heading-4.info-title= data.mainWrapper.contactWrapper.info.address.h3
                            p.paragraph.ending.info-description
                                | !{data.mainWrapper.contactWrapper.info.address.p}
                                span(aria-hidden="true" class="icon icon-location color-primary info-icon")
                        li.info-block
                            h3.heading.heading-4.info-title= data.mainWrapper.contactWrapper.info.contactInformation.h3
                            p.paragraph.ending.info-description
                                a(href="mailto:" + data.mainWrapper.contactWrapper.info.contactInformation.links[0].href class="info-link")
                                    | #{data.mainWrapper.contactWrapper.info.contactInformation.links[0].displayedText}
                                    span(aria-hidden="true" class="icon icon-mail-alt color-primary info-icon")
                                br
                                a(href="tel:" + data.mainWrapper.contactWrapper.info.contactInformation.links[1].href class="info-link")
                                    | #{data.mainWrapper.contactWrapper.info.contactInformation.links[1].displayedText}
                                    span(aria-hidden="true" class="icon icon-mobile color-primary info-icon")
                        li.info-block
                            h3.heading.heading-4.info-title= data.mainWrapper.contactWrapper.info.workingHours.h3
                            p.paragraph.ending.info-description
                                | !{data.mainWrapper.contactWrapper.info.workingHours.p}
                                span(aria-hidden="true" class="icon icon-clock color-primary info-icon")