//-
    Portfolio Wrapper

section(id="portfolio" class="section portfolio-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span(aria-hidden="true" class="icon icon-2 icon-code section-decoration-icon")
            header.section-header
                h2.heading.heading-2.heading-unique-1.section-header-title.text-center= data.mainWrapper.portfolioWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.portfolioWrapper.header.p
        .row
            .col-12
                ul.row.align-content-center.justify-content-center.portfolio-filters__list.portfolio-filters-js
                    each value, property in data.mainWrapper.portfolioWrapper.projects.categories
                        if property === "all"
                            li
                                button(data-filter-type class="btn portfolio-filters__button active")
                                    span= value
                        else
                            li
                                button(data-filter-type=property class="btn portfolio-filters__button")
                                    span= value
                .row.portfolio-items.portfolio-items-js
                    each obj, property in data.mainWrapper.portfolioWrapper.projects
                        if property !== "categories"
                            each project in obj
                                div(data-type=property class="col-lg-4 col-md-6 col-12 portfolio-item")
                                    div(tabindex="0" class="single-project-wrapper")
                                        img(src=project.imgSrc alt=project.imgAlt class="single-project__img")
                                        .single-project-content.text-center(aria-hidden="false")
                                            h3.heading.heading-5.single-project-title= project.title
                                            .heading-separator
                                                .heading-separator__line.heading-separator__line-reduced-2.heading-separator__line-bolded-3.primary
                                            p.paragraph.ending.single-project-description!= project.description
                                            .single-project-buttons
                                                a(href=project.buttons[0].link class="btn to-top color-white")= project.buttons[0].value
                                                a(href=project.buttons[1].link class="btn to-top btn-primary")= project.buttons[1].value