//-
    Services Wrapper

section(id="services" class="section services-wrapper")
    .container
        .row.no-gutters.flex-column.align-items-center
            .section-decoration
                span(aria-hidden="true" class="icon icon-2 icon-wrench section-decoration-icon")
            header.section-header
                h2.heading.heading-2.heading-unique-1.section-header-title.text-center= data.mainWrapper.servicesWrapper.header.h2
                .heading-separator
                    .heading-separator__line
                    .heading-separator__square.primary
                    .heading-separator__line
                p.section-header-description= data.mainWrapper.servicesWrapper.header.p
    .services-container
        .owl-carousel.owl-theme.owl-carousel-services.owl-carousel-services-js
            each obj in data.mainWrapper.servicesWrapper.services
                .white-frame-058001.services-item.text-center
                    span(aria-hidden="true" class="icon-img icon-5 icon-services-" + obj.iconName + " services-item-icon")
                    h3.heading.heading-4.services-item-title= obj.title
                    .heading-separator
                        .heading-separator__line.heading-separator__line-bolded-3.primary
                    p.paragraph.services-item-description!= obj.description
                    button(type="button" data-src="" class="btn to-top btn-primary services-item-button services-item-button-js")
                        span= obj.button